/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* AngularJS Chat Color Palette */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= *
    green one rgb(107,195,146)
    green two rgb(122,214,184)
    action    #DD7766
    white     #F8F8F8
    black     #212121
    gray      #727272
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

body    { background: #FFFFFF; color: #727272; }
h1, h2,
h3, h4, { background: #FFFFFF; color: #212121; }
body    { background: #FFFFFF; color: #727272; }

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Layout */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
html, body, form, strong, button, small, input, p, div, h1, h2, h3, h4 {
    outline: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.4em;
    font-size: 100%;
}
a, a:active {
    color: #F8F8F8;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
input[type="submit"],
input[type="button"],
button, a { cursor: pointer; }
strong { font-weight: 500; }
p, h1, h2, h3, h4 {
    margin-top: 1em;
    margin-bottom: 1em;
}
h1, h2, h3, h4 {
    font-weight: 200;
    font-size: 32px;
}
html, body, p, div {
    font-weight: 200;
    font-size: 17px;
}
.clear { clear: both }
.container {
    width: 86vw;
    padding-right: 7vw;
    padding-left: 7vw;
    margin-right: auto;
    margin-left: auto;
}
.angularjs-chat-logo {
    display: inline-block;
    background: transparent url(/media/angularjs-chat.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.angularjs-chat-logo-white {
    display: inline-block;
    background: transparent url(/media/angularjs-chat-white.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Top Navigation */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
@media (max-width: 750px) {
    .top-navigation {
        flex-direction: column;
    }
    div.top-navigation a.angularjs-chat-logo-link {
        text-align: center;
    }
    div.top-navigation div.top-navigation-links {
        text-align: center;
    }
}
div.top-navigation-links a.start {
    border: 1px solid #F8F8F8;
    padding: 10px 20px;
    border-radius: 6px;
}
.top-navigation {
    display: flex;
    text-align: left;
    padding: 40px 0;
}
div.top-navigation div.angular-js-white {
    display: inline-block;
    position: relative;
    top: 6px;
    width: 2.6em;
    height: 2.8em;
    display: inline-block;
    margin-right: 24px;
}
div.top-navigation div.angular-js-white-text {
    display: inline-block;
    position: relative;
    top: -8px;
    letter-spacing: 1px;
    font-size: 1.3em;
    font-weight: 100;
    margin-top: 10px;
}
div.top-navigation a.angularjs-chat-logo-link {
    display: inline-block;
}
div.top-navigation a.angularjs-chat-logo-link:hover {
    text-decoration: none;
}
div.top-navigation-links {
    flex: 1;
    text-align: right;
}
div.top-navigation-links a {
    display: inline-block;
    margin-top: 10px;
    margin-left: 30px;
}
div.top-navigation-links a.start:hover {
    background: #F8F8F8;
    color: rgba(60,255,80,1.0);
    text-decoration: none;
}
