/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* AngularJS Chat Color Palette */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= *
    green one rgb(107,195,146)
    green two rgb(122,214,184)
    action    #DD7766
    white     #F8F8F8
    black     #212121
    gray      #727272
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

body    { background: #FFFFFF; color: #727272; }
h1, h2,
h3, h4, { background: #FFFFFF; color: #212121; }
body    { background: #FFFFFF; color: #727272; }

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Layout */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
html, body, form, strong, button, small, input, p, div, h1, h2, h3, h4 {
    outline: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.4em;
    font-size: 100%;
}
a, a:active {
    color: #F8F8F8;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
input[type="submit"],
input[type="button"],
button, a { cursor: pointer; }
strong { font-weight: 500; }
p, h1, h2, h3, h4 {
    margin-top: 1em;
    margin-bottom: 1em;
}
h1, h2, h3, h4 {
    font-weight: 200;
    font-size: 32px;
}
html, body, p, div {
    font-weight: 200;
    font-size: 17px;
}
.clear { clear: both }
.container {
    width: 86vw;
    padding-right: 7vw;
    padding-left: 7vw;
    margin-right: auto;
    margin-left: auto;
}
.angularjs-chat-logo {
    display: inline-block;
    background: transparent url(/media/angularjs-chat.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.angularjs-chat-logo-white {
    display: inline-block;
    background: transparent url(/media/angularjs-chat-white.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Top Navigation */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
@media (max-width: 750px) {
    .top-navigation {
        flex-direction: column;
    }
    div.top-navigation a.angularjs-chat-logo-link {
        text-align: center;
    }
    div.top-navigation div.top-navigation-links {
        text-align: center;
    }
}
div.top-navigation-links a.start {
    border: 1px solid #F8F8F8;
    padding: 10px 20px;
    border-radius: 6px;
}
.top-navigation {
    display: flex;
    text-align: left;
    padding: 40px 0;
}
div.top-navigation div.angular-js-white {
    display: inline-block;
    position: relative;
    top: 6px;
    width: 2.6em;
    height: 2.8em;
    display: inline-block;
    margin-right: 24px;
}
div.top-navigation div.angular-js-white-text {
    display: inline-block;
    position: relative;
    top: -8px;
    letter-spacing: 1px;
    font-size: 1.3em;
    font-weight: 100;
    margin-top: 10px;
}
div.top-navigation a.angularjs-chat-logo-link {
    display: inline-block;
}
div.top-navigation a.angularjs-chat-logo-link:hover {
    text-decoration: none;
}
div.top-navigation-links {
    flex: 1;
    text-align: right;
}
div.top-navigation-links a {
    display: inline-block;
    margin-top: 10px;
    margin-left: 30px;
}
div.top-navigation-links a.start:hover {
    background: #F8F8F8;
    color: rgba(60,255,80,1.0);
    text-decoration: none;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Footer Navigation */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.footer-content {
    background: #5DCA78;
}
.footer-content a {
    text-decoration: none;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Share Buttons */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
div.post-share {
    text-align: center;
}
div.post-share div.post-share-header {
    font-weight: 100;
    font-size: 2em;
    margin: 50px 0 40px 0;
}
.post-share-menu-item a,
.post-share-menu-item a svg use,
.post-share-menu-item {
    display: inline-block;
    text-align: left;
    margin: 0;
}
svg:not(:root) {
    overflow: hidden;
}
.post-share-menu-item a,
.post-share-menu-item a svg use,
.post-share-menu-item,
.svg-icon {
    width: 80px;
    height: 80px;
}
.svg-icon {
    transform-origin: 50% 50% 0px;
    transition: all .15s linear;
}
.post-share-menu-item {
    padding: 0px;
    width: 120px;
}
.svg-icon {
    padding: 20px;
}
.svg-icon-google { fill: #dd4b39 }
.svg-icon-google:hover { fill: #fff; background: #dd4b39 }
.svg-icon-facebook { fill: #3b5998 }
.svg-icon-facebook:hover { fill: #fff; background: #3b5998 }
.svg-icon-twitter { fill: #55acee }
.svg-icon-twitter:hover { fill: #fff; background: #55acee }

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Follow Buttons */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
a.twitter-follow-button {
    display: inline-block;
    color: #fff;
    background: #55acee;
    padding: 4px 20px;
    line-height: 30px;
    font-size: 16px;
    border-radius: 10px;
}
a.twitter-follow-button:hover {
    text-decoration: none;
}
.svg-twitter-follow {
    position: relative;
    top: 3px;
    left: -3px;
    width: 18px;
    height: 18px;
    fill: #fff;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Syntax Highlight */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */
