/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Share Buttons */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
div.post-share {
    text-align: center;
}
div.post-share div.post-share-header {
    font-weight: 100;
    font-size: 2em;
    margin: 50px 0 40px 0;
}
.post-share-menu-item a,
.post-share-menu-item a svg use,
.post-share-menu-item {
    display: inline-block;
    text-align: left;
    margin: 0;
}
svg:not(:root) {
    overflow: hidden;
}
.post-share-menu-item a,
.post-share-menu-item a svg use,
.post-share-menu-item,
.svg-icon {
    width: 80px;
    height: 80px;
}
.svg-icon {
    transform-origin: 50% 50% 0px;
    transition: all .15s linear;
}
.post-share-menu-item {
    padding: 0px;
    width: 120px;
}
.svg-icon {
    padding: 20px;
}
.svg-icon-google { fill: #dd4b39 }
.svg-icon-google:hover { fill: #fff; background: #dd4b39 }
.svg-icon-facebook { fill: #3b5998 }
.svg-icon-facebook:hover { fill: #fff; background: #3b5998 }
.svg-icon-twitter { fill: #55acee }
.svg-icon-twitter:hover { fill: #fff; background: #55acee }

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Follow Buttons */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
a.twitter-follow-button {
    display: inline-block;
    color: #fff;
    background: #55acee;
    padding: 4px 20px;
    line-height: 30px;
    font-size: 16px;
    border-radius: 10px;
}
a.twitter-follow-button:hover {
    text-decoration: none;
}
.svg-twitter-follow {
    position: relative;
    top: 3px;
    left: -3px;
    width: 18px;
    height: 18px;
    fill: #fff;
}
