---
layout:      basic
title:       AngularJS Chat Tutorials
description: AngularJS Chat enables messaging
             experiences in your iOS, Android and Web apps.
---

<div class="header">

    <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
    <!-- Top Nav -->
    <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
    {% include top-navigation.html %}

    <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
    <!-- Chat Bubbles Yo -->
    <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
    <div class="angularjs-chat-bubble-white bubble-one"></div>
    <div class="angularjs-chat-bubble-white bubble-two"></div>
    <div class="angularjs-chat-bubble-white bubble-three"></div>
    <div class="angularjs-chat-bubble-white bubble-four"></div>
    <div class="angularjs-chat-bubble-white bubble-five"></div>
    <div class="angularjs-chat-bubble-white bubble-six"></div>
    <div class="angularjs-chat-bubble-white bubble-seven"></div>
    <div class="angularjs-chat-bubble-white bubble-eight"></div>

    <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
    <!-- AngularJS Chat -->
    <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
    <div class="container">
        <div class="angularjs-chat-logo"></div>
        <h1>{{ page.title }}</h1>
        <p class="angularjs-chat-page-title">
            Enable <strong>messaging</strong> experiences for
            <strong>iOS</strong>, <strong>Android</strong> and <strong>Web</strong> apps
        </p>
        <!--
        <p class="angularjs-chat-page-description">
            AngularJS and the best
            frameworks Ionic, PubNub, PhoneGap
        </p>
        -->

        <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
        <!-- AngularJS Chat Signup for Notifications -->
        <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
        <div class="signup">
            <div class="signup-details">
                Signup for
                <strong>AngularJS tutorials</strong>
                and more!
            </div>

            <form
            action="https://pubnub.us12.list-manage.com/subscribe/post?u=fbd1f30822a348898a0640f45&amp;id=b494a4e65a"
            method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                <input type="email" value="" name="EMAIL" placeholder="you@email.com">
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_fbd1f30822a348898a0640f45_b494a4e65a" tabindex="-1" value="">
                </div>
                <input type="submit" value="get started" name="subscribe" class="action">
            </form>
        </div>
    </div>
</div>

<style>{% include angularjs-chat-home.css %}</style>

