<!doctype html>
<html ng-app="simpleChat">
<head>
    <script src="angular.min.js"></script>
    <script src="angular-chat.js"></script>
    <script src="angular-chat-config.js"></script>
    <script src="simple-chat.js"></script>
</head>
<body>

    <div ng-controller="chatController as chat">
        <form ng-submit="chat.send()">
            <input ng-model="chat.textbox">
            <input type="submit" value="send">
        </form>
        <div ng-repeat="message in chat.messages">
            <div>
                <strong>{{ message.user.name }}: </strong>
                {{ message.data }}
            </div>
        </div>
    </div>

</body>
</html>
