/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Color Palette */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.hero   { background: #00BCD4; color: #F8F8F8; }
.action { background: #8BC34A; color: #F8F8F8; }
.light  { background: #B2EBF2; color: #212121; }
.dark   { background: #0097A7; color: #F8F8F8; }
.divide { background: #B6B6B6; }

p, div,
body    { background: #FFFFFF; color: #727272; }
h1, h2,
h3, h4, { background: #FFFFFF; color: #212121; }
