<!-- SHARE -->
<div class="post-share">
    <div class="post-share-header">Share</div>
    <div class="post-share-menu-item">
        <a href="https://twitter.com/intent/tweet?url=http://angularjs.chat{{ page.url }}&amp;via=stephenlb&amp;text={{ page.title }}" title="Share on Twitter" target="share-twitter"><svg class="svg-icon svg-icon-twitter">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/media/icons.svg#svg-icon-twitter"></use>
    </svg></a>
    </div>
    <div class="post-share-menu-item">
        <a href="https://www.facebook.com/sharer/sharer.php?u=http://angularjs.chat{{ page.url }}" title="Share on Facebook" target="share-facebook"><svg class="svg-icon svg-icon-facebook">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/media/icons.svg#svg-icon-facebook"></use>
    </svg></a>
    </div>
    <div class="post-share-menu-item">
        <a href="https://plus.google.com/share?url=http://angularjs.chat{{ page.url }}" title="Share on Google+" target="share-google"><svg class="svg-icon svg-icon-google">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/media/icons.svg#svg-icon-google"></use>
    </svg></a>
    </div>
</div>
<!-- END SHARE -->

