<div class="container">
    <div class="top-navigation">
        <a class="angularjs-chat-logo-link" href="index.html">
            <div class="angularjs-chat-logo-white angular-js-white"></div>
            <div class="angular-js-white-text">AngularJS Chat</div>
        </a>

        <div class="top-navigation-links">
            <a href="https://twitter.com/stephenlb">Twitter</a>
            <a href="https://github.com/stephenlb/angularjs-chat">GitHub</a>
            <a href="https://github.com/stephenlb/angularjs-chat/issues">Support</a>
            <a class="start" href="tutorials/angularjs-basic-chat-module/" title="AngularJS Tutorial">Start Tutorial</a>
        </div>
    </div>
</div>
