<!doctype html>
<html ng-app="BasicChat">
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="stylesheet" href="style.css">
    <link rel="apple-touch-icon-precomposed" href="../media/angularjs-chat.png">
    <link rel="shortcut icon" href="../media/angularjs-chat.png">

    <title>AngularJS Basic Chat</title>

    <script src="../angular.js"></script>
    <script src="../angular-chat.js"></script>
    <script src="../angular-chat-config.js"></script>
    <script src="names.js"></script>
    <script src="app.js"></script>
</head>
<body>

    <div ng-controller="BasicController as chat">

        <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
        <!-- Chat Messages -->
        <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
        <div class="chat-messages">
            <div class="chat-header">
                <div class="angularjs-chat-logo"></div>
                AngularJS Chat
            </div>
            <div ng-repeat="message in chat.messages">
                <div class="sent-message-{{ message.self }}">
                    <span class="username">{{ message.user.name }}:</span>
                    {{ message.data }}
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
        <!-- User Input -->
        <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
        <form ng-submit="chat.send()" class="chat-input">
            <input type="text" ng-model="chat.textbox" autofocus>
            <input type="submit" value="↪">
            <input type="submit" value=" "
                class="sent-indicator {{ chat.status }}">
        </form>

    </div>

</body>
</html>
