/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
App Base
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
html, body, strong, button, small, input, p, div, h1, h2, h3, h4 {
    outline: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.4em;
    font-weight: 400;
    font-size: 16px;
}

button, input[type="submit"] {
    cursor: pointer;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
Chat Messages
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
div.angularjs-chat-logo {
    display: inline-block;
    background: transparent url(../media/angularjs-chat.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
div.chat-header div.angularjs-chat-logo {
    width: 4.0em;
    height: 4.1em;
    position: relative;
    top: 1.3em;
    left: -1em;
    animation: chat-header-intro 1.0s ease-out 0s;
}
div.chat-header {
    text-align: center;
    font-size: 1.5em;
    font-weight: 200;
    color: rgba(32,40,70,0.8);
    padding-top: 10px;
    padding-bottom: 36px;
    animation: chat-header-intro 1.5s ease-out 0s;
}
div.chat-messages {
    text-align: right;
    width: 100vw;
    min-height: 100vh;
    padding-bottom: 100px;
    background: linear-gradient(
        to bottom,
        rgb(122,214,184) 0%,
        rgb(122,214,184) 1%,
        rgb(122,214,184) 1%,
        rgb(255,255,255) 1%,
        rgb(255,255,255) 1%,
        rgb(255,255,255) 100%
    );
}
div.sent-message {
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 2px;
    display: inline-block;
    color: rgba(32,40,70,0.9);
    padding: 14px;
    font-size: 0.8em;
    font-weight: 400;
    background: rgba(233,234,243,1.0);
    animation: sent-message 0.9s ease-out 0s;
}
span.username {
    font-weight: 600;
}

@keyframes chat-header-intro {
    0%   { transform: translate(-100px,0px); opacity: 0 }
    42%  { transform: translate(-80px,0px);  opacity: 0.8 }
    60%  { transform: translate(3px,0px);  opacity: 1 }
    80%  { transform: translate(-2px,0px);    opacity: 1 }
    90%  { transform: translate(1px,0px);  opacity: 1 }
    100% { transform: translate(0px,0px);    opacity: 1 }
}
@keyframes sent-message {
    0%   { color: rgba(32,40,70,0.9);    transform: translate(100px,50px); opacity: 0 }
    42%  { color: rgba(32,40,70,0.9);    transform: translate(80px,40px);  opacity: 0.8 }
    60%  { color: rgba(144,134,251,0.3); transform: translate(-3px,-7px);  opacity: 1 }
    80%  { color: rgba(32,40,70,0.5);    transform: translate(2px,3px);    opacity: 1 }
    90%  { color: rgba(32,40,70,0.7);    transform: translate(-1px,-2px);  opacity: 1 }
    100% { color: rgba(32,40,70,0.9);    transform: translate(0px,0px);    opacity: 1 }
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
User Input
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
form.chat-input input[type="text"] {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    color: rgba(32,40,70,0.9);
    padding: 20px;
    background: rgba(233,234,243,1.0);
}

form.chat-input input[type="submit"] {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 100px;
    background: rgba(144,134,251,1.0);
    color: rgba(255,255,255,1.0);
    padding: 10px;
    min-width: 42px;
    min-height: 42px;
    max-width: 42px;
    max-height: 42px;
}
