/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
App Base
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
html, body, strong, button, small, input, p, div, h1, h2, h3, h4 {
    outline: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.4em;
    font-weight: 400;
    font-size: 16px;
}

button, input[type="submit"] {
    cursor: pointer;
}

.clear { clear: both }


/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
Layout
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
div.chat-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
div.chat-messages {
    order: 1;
    flex: 1;
    overflow: scroll;
}
form.chat-input {
    position: relative;
    order: 2;
    height: 62px;
    background: rgba(233,234,243,1.0);
}
div.chat-messages {
    background: linear-gradient(
        to bottom,
        rgb(122,214,184) 0%,
        rgb(122,214,184) 100%
    );
    background-size: 100% 10px;
    background-repeat: no-repeat;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
Chat Messages
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
div.angularjs-chat-logo {
    display: inline-block;
    background: transparent url(../media/angularjs-chat.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
div.chat-header div.angularjs-chat-logo {
    width: 4.0em;
    height: 4.1em;
    position: relative;
    top: 1.3em;
    left: -1em;
    animation: chat-header-intro 2.0s ease-out 0s;
}
div.chat-header {
    text-align: center;
    font-size: 1.5em;
    font-weight: 200;
    color: rgba(32,40,70,0.8);
    padding-top: 10px;
    padding-bottom: 36px;
    animation: chat-header-intro 2.2s ease-out 0s;
}
div.sent-message-false {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 2px;
    display: inline-block;
    color: rgba(32,40,70,0.9);
    padding: 12px;
    border: 1px solid rgba(32,40,70,0.4);
    font-size: 0.8em;
    font-weight: 400;
    background: rgba(255,255,255,0.9);
    animation: received-message 0.9s ease-out 0s;
}
div.sent-message-true {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 2px;
    display: inline-block;
    color: rgba(32,40,70,0.9);
    padding: 14px;
    font-size: 0.8em;
    font-weight: 400;
    background: rgba(233,234,243,1.0);
    animation: sent-message 0.9s ease-out 0s;
}
span.username {
    font-weight: 600;
}

@keyframes chat-header-intro {
    0%   { transform: translate(-100px,0px);                    opacity: 0 }
    42%  { transform: translate(-80px,0px);                     opacity: 0.8 }
    60%  { transform: translate(3px,0px)     scale(0.96,1.04);  opacity: 1 }
    65%  { transform: translate(2px,0px);                       opacity: 1 }
    80%  { transform: translate(-2px,0px);                      opacity: 1 }
    90%  { transform: translate(1px,0px);                       opacity: 1 }
    100% { transform: translate(0px,0px);                       opacity: 1 }
}
@keyframes sent-message {
    0%   { color: rgba(32,40,70,0.9);    transform: translate(100px,50px); opacity: 0 }
    42%  { color: rgba(32,40,70,0.9);    transform: translate(80px,40px);  opacity: 0.8 }
    60%  { color: rgba(144,134,251,0.3); transform: translate(-3px,-7px);  opacity: 1 }
    80%  { color: rgba(32,40,70,0.5);    transform: translate(2px,3px);    opacity: 1 }
    90%  { color: rgba(32,40,70,0.7);    transform: translate(-1px,-2px);  opacity: 1 }
    100% { color: rgba(32,40,70,0.9);    transform: translate(0px,0px);    opacity: 1 }
}
@keyframes received-message {
    0%   { color: rgba(32,40,70,0.9);    transform: translate(-100px,0px); opacity: 0 }
    42%  { color: rgba(32,40,70,0.9);    transform: translate(-80px,0px);  opacity: 0.8 }
    60%  { color: rgba(122,214,184,0.9); transform: translate(3px,0px);  opacity: 1 }
    80%  { color: rgba(32,40,70,0.6);    transform: translate(-2px,0px);    opacity: 1 }
    90%  { color: rgba(32,40,70,0.8);    transform: translate(1px,0px);  opacity: 1 }
    100% { color: rgba(32,40,70,0.9);    transform: translate(0px,0px);    opacity: 1 }
}
@keyframes send-indicator {
    0%   { transform: scale(0.1);  opacity: 1 }
    30%  { transform: scale(1.0);  opacity: 1 }
    70%  { transform: scale(4.0);  opacity: 0.5 }
    100% { transform: scale(10.0);  opacity: 0 }
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
User Input
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
form.chat-input input[type="text"] {
    /*position: absolute;
    bottom: 10px;
    right: 10px;*/
    width: 80%;
    color: rgba(32,40,70,0.9);
    padding: 20px;
    background: transparent;
}

form.chat-input input[type="submit"] {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 100px;
    background: rgba(144,134,251,1.0);
    color: rgba(255,255,255,1.0);
    width: 42px;
    height: 42px;
    overflow: hidden;
}
form.chat-input input[type="submit"].sent-indicator {
    opacity: 0;
    background: rgba(144,134,251,0.97);
    width: 42px;
    height: 42px;
}
form.chat-input input[type="submit"].sending {
    animation: send-indicator 0.9s ease-out 0s;
}
