/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Header */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.header {
    overflow: hidden;
    position: relative;
    width: 100vw;
    min-height: 100vh;
}
.header-video {
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
}
.header-video video {
    overflow: hidden;
    min-height: 100vh;
    min-width: 100vw;
}
@media (max-width: 450px) {
    .header-video, .header-video video {
        display: none;
    }
}
.header-overlay {
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    min-height: 100vh;
    width: 100vw;
    text-align: center;
    color: #F8F8F8;
    background: linear-gradient(
        to left,
        rgba(122,214,184,0.4) 0%,
        rgba(122,214,184,0.9) 100%
    ), linear-gradient(
        to bottom,
        rgba(60,255,80,1.0) 0%,
        rgba(122,255,184,0.4) 100%
    );
}
div.header-overlay h1 {
    margin: 30px 0;
}
div.header-overlay h2 {
    font-size: 1.4em;
    letter-spacing: 1px;
    font-weight: 100;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Live Stream Preview */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
div.live-stream-preview {
    display: flex;
}
div.live-stream-preview-video {
    text-align: right;
    flex: 4
}
div.live-stream-preview-divide {
    flex: 1
}
div.live-stream-preview-video video {
    width: 240px;
    height: 100px;
    border-radius: 3px;
}
div.live-stream-preview-text {
    text-align: left;
    flex: 4
}
div.live-stream-preview-text {
    font-size: 1.1em;
}
div.live-stream-preview-text strong {
    display: block;
}

@media (max-width: 580px) {
    div.live-stream-preview {
        flex-direction: column;
    }
    div.live-stream-preview-video,
    div.live-stream-preview-text {
        text-align: center;
    }
}

